
fastapi
uvicorn
python-dotenv
fastmcp
langchain
langchain-openai
langchain-core
langchain-community
langgraph
openai
pydantic
pydantic-core
pydantic-settings
streamlit
requests
httpx
redis
python-json-logger
autopep8
flake8
pytest
pytest-asyncio
pytest-mock
